ul li {
    list-style: none;
}
ul li input {
	margin-right: 2ex;
	margin-left: 1ex;
	height: 8pt;
}

.hidden {
	display: none;
}

#container {
	font-family: "Lucida Grande", "Calibri", "Corbel", "Verdana", "Tahoma";
	font-size: 8pt;
}
#lists-pane {
    float: left;
	height: 100%;
	width: 100px;
	background: #d6dde5;
	/*background: #e8e8e8;*/
}
#content-pane {
	height: 100%;
	background: #a8acb5;
	overflow: auto;
}

ul.todo-list {
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 20pt;
}
ul.todo-list li {
	background: #fcfcfc;
	margin-right: 4ex;
	border-radius: 4px;
	margin-left: 4ex;
	border: 1px solid gray;
}
ul.todo-list li.today {
	background: #fee893;
}


#lists-list {
	padding-left: 4ex;
	padding-top: 1em;
	line-height: 18pt;
}
#lists-list a {
	text-decoration: none;
	color: black;
}

#lists-list li.selected {
	background: #8394b9;
	font-weight: bold;
	padding-left: 4ex;
	margin-left: -4ex;
}
#lists-list li.selected a{
	color: white;
}

